@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
    --sky: hsl(211, 100%, 68%);
    --blue: hsl(211, 100%, 55%);
    --gray: hsl(210, 13%, 50%);
    --black: hsl(0, 0%, 0%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", serif;
}

body {
    background-color: var(--white);
}

.home, .services, .products,
.contact, .signup, .marketing, .consulting {
    display: grid;
    place-items: center;
    font-size: 3rem;
    height: 90vh;
}

.home {
    font-size: 100px;
    color: var(--white);
    background-image: url("/img-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services {
    font-size: 100px;
    color: var(--white);
    background-image: url("/img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products {
    font-size: 100px;
    color: var(--white);
    background-image: url("/img-3.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
}

.contact {
    font-size: 100px;
    color: var(--white);
    background-image: url("/img-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup {
    color: var(--white);
    font-size: 100px;
    background-image: url("/img-7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.marketing {
    color: var(--white);
    font-size: 100px;
    background-image: url("/img-6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.consulting {
    color: var(--white);
    font-size: 100px;
    background-image: url("/img-5.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}





